body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: #fff;

}
.fa-compass{
    font-size:2rem ;
    color: #fe424d;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: none;
    color: #222222;
}
.f-info-link,.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
    
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important ;

}
.card-body{
    padding: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.2rem !important;
}
.card-text p{
    font-weight: 400;
  

}
.row{
    display: flex;
    justify-content: space-between;
}
.all-listing{
    margin-top: 0.4rem;
}
.listing-link{
    text-decoration: none;

}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #fff;
}
 
/* new page button */
.add-btn{
    background-color: #fe424d !important;
    border:none !important ;
}

/* edit page button */

.btn-edit{
    background-color: #fe424d !important;
    border:none !important ;

}

/* show page  */
.show-image{
    height: 30vh;


}

.btns{
    display: flex;
    background-color: #fe424d !important;


}

/* Map */
#map {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
}